/vendor
/node_modules
Homestead.yaml
Homestead.json
.env

.sass-cache
*.db
npm-debug.log

bootstrap/compiled.php
composer.lock

/public/fonts/icon-font/icomoon
/public/dashboard
/public/fonts
/public/img
/public/landing
/public/*.html
