<!DOCTYPE html>
<html class="no-js" lang="es">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="x-ua-compatible" content="ie=edge"/>
	<title>Project boilerplate</title>
	<meta name="description" content=""/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	{{-- og tags Facebook --}}
	{{-- /og tags Facebook --}}
	{{-- og tags Google+ --}}
	{{-- /og tags Google+ --}}
	{{-- Twitter Cards --}}
	{{-- /Twitter Cards --}}

	{{-- <link rel="shortcut icon" href="{{ asset('#.ico') }}" type="image/x-icon"/> --}}
	{{-- <link rel="icon" href="{{ asset('#.png') }}" sizes="32x32"/> --}}
	{{-- <link rel="icon" href="{{ asset('#.png') }}" sizes="192x192"/> --}}

	<link rel="stylesheet" href="{{ asset('landing/css/main.css') }}"/>
	<script src="{{ asset('landing/js/modernizr-2.8.3.min.js') }}"></script>
	<!--[if lt IE 9]>
		<script src="{{ asset('landing/js/vendor/lt-ie-9.min.js') }}"></script>
		<script src="{{ asset('landing/js/vendor/calc.min.js') }}"></script>
	<![endif]-->
</head>
<body>
	<!--[if IE]>
		<div class="browsehappy">
		<p>
			You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.
		</p>
		</div>
	<![endif]-->

    {{-- content --}}
    <div class="x-main">
        <h1>Hello World by <strong>Gean</strong></h1>
    </div>
    {{-- /content --}}

	{{-- scripts --}}
	<!--[if lt IE 9]>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{ asset('landing/js/vendor/jquery-1.11.2.min.js') }}"><\/script>')</script>
	<![endif]-->
	<!--[if gt IE 8]><!-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{ asset('landing/js/vendor/jquery-2.1.4.min.js') }}"><\/script>')</script>
	<!--<![endif]-->
	<script src="{{ asset('landing/js/plugins.js') }}"></script>
	<script src="{{ asset('landing/js/main.js') }}"></script>
	{{-- /scripts --}}
</body>
</html>
